

<div id="wrapper">
<div class="button" id="lefty"><a id="backward" href=""><<</a></div>
<div id="main">
<h1 id="title"><%= @slides[0].title %></h1>

<p id="body"><%= @slides[0].body %></p>
</div>
<div class="button" id="righty"><a id="forward" href="">>></a></div>

</div>
<p id="slide_size" value="<%= @total_slides %>"><%= @total_slides %></p>