

<div class="wrapper">
<a id="backward" href=""><div class="button" id="lefty"></div></a>
<div id="main">
<h1 id="title"><%= @slides[0].title %></h1>

<p id="body"><%= @slides[0].body %></p>
</div>
<a id="forward" href=""><div class="button" id="righty"></div></a>
</div>

<h1 id="slide_size"><%= @total_slides %></h1>