

<div id="wrapper">
<div class="button" id="lefty"> <p id="backward" href="."><<</p></div>
<div id="main">
<h1 id="title"><%= @slides[0].title %></h1>

<p id="body"><%= @slides[0].body %></p>
</div>
<div class="button" id="righty"><p id="forward" href="">>></p></div>
</div>
