div{
  width: 400px;
  height: 200px;
  max-width: 800px;
  max-height: 800px;
  background-color: rgba(0,0,255, .5);
  margin: 0px 10px 0px 65px;
  border-radius: 12px 12px 12px 12px;
  position: relative;
}


div.main{
  position: relative;
}

#wrapper{
  display: inline-block;
  margin: auto;
  width: 100%;
  background-color: rgba(0,0,0,.0);
}

h1{
  text-align: center;
  margin: auto;
  color: rgba(50, 25, 150, 1);
  padding: 25px 0px 25px 0px;
}

p{
  text-align: center;
  margin: auto;
  color: rgba(255, 255, 255, .85);
  padding: 10px 25px 10px 25px;
}

div.button{
  position: relative;
  width: 50px;
  height: 195px;
  max-width: 50px;
  max-height: 200px;
  background-color: rgba(0,0,50, .5);
  margin: 2px 2px 2px 2px;
  border-radius: 12px 12px 12px 12px;
}

#lefty{
    float: left;
}

#righty{
    float: left;
}